.Accordion-Section {
  padding-top: 15vh;
}

.accordion {
  background-color: #eee;
  color: #113042;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  border-radius: 20px;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 1rem;
}

.active {
  background-color: rgb(222, 222, 222);
  color: #113042;
}

.accordion:hover {
  background-color: rgb(222, 222, 222);
  color: #113042;
}

.panel {
  padding: 0 0 10px 18px;
  background-color: white;
  overflow: hidden;
}

.Panel-Description {
  font-size: 0.9rem;
  padding: 0 20px 10px 0;
  font-weight: 200;
}

@media screen and (max-width: 1160px) {
  .Accordion-Section {
    padding: 15vh 20px 0px 20px;
  }
}
