.TextHeadline-Wrapper {
  width: 100%;
  padding: 0;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

@media screen and (max-width: 1160px) {
  .TextHeadline-Wrapper {
    padding: 0 20px;
  }
}

@media screen and (max-width: 800px) {
  .TextHeadline-Wrapper {
    grid-template-columns: 1fr;
  }
}
