.CompanyDisplay-Wrapper {
  background-color: #f4f4f4;
  width: 100%;
  height: auto;
  padding: 50px;
  min-height: 100px;
  margin: 0 auto;
  border-radius: 20px;
  margin-bottom: 60px;
}

.h3-headline {
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}

.CompanyDisplay-Wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.CompanyDisplayItem {
  margin: 20px;
  height: 20px;
  filter: grayscale(100%);
  transition: all 0.6s;
  cursor: pointer;
}

.CompanyDisplayItem:hover {
  filter: grayscale(0%);
  transition: all 0.6s;
}

@media screen and (max-width: 1160px) {
  .CompanyDisplay-Wrapper {
    max-width: calc(100vw - 40px);
  }
}
