.Navbar {
  width: 100%;
  height: auto;
  z-index: 1000;
  position: fixed;
  background-color: #fff;
  overflow: hidden;
}

.shadow {
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px 0px, rgb(0 0 0 / 6%) 0px 0px 2px 0px;
}

.Navbar-Inner {
  padding: 20px 0;
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar-Inner__sticky {
  padding: 20px 0;
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar-Login {
  display: flex;
}

.NavList {
  width: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}

a {
  text-decoration: none;
  color: #113042;
  list-style: none;
  padding: 4px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  color: #3790af;
}

img {
  height: 30px;
  width: auto;
}

.Login-Button {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 5px;
  padding: 5px 15px;
  text-decoration: none;
  color: #fff;
  background-color: #3790af;
  border-radius: 20px;
  transition: all 0.5s;
}

.Login-Button:hover {
  text-decoration: none;
  border-bottom: none;
  background-color: #113042;
}

.Login-Icon {
  width: 15px;
  height: auto;
}

@media screen and (max-width: 1160px) {
  .Navbar__sticky {
    padding: 0 20px;
  }

  .Navbar {
    padding: 0 20px;
  }
}

@media screen and (max-width: 786px) {
  .NavList {
    display: none;
  }
}
