.Footer {
  width: 100%;
  height: auto;
  padding: 50px 0;
  background-color: #fafafa;
  border-top: 1px dashed #113042;
}

.InnerFooter {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.IconFooter {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1120px;
}

.CopyrightFooter {
  max-width: 1120px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  user-select: none;
}

.CopyrightParagraph {
  font-weight: 300;
  font-size: small;
}

.FooterSection {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.WHITE {
  color: #252525;
  text-align: left;
  font-weight: 300;
  padding-bottom: 8px;
}

.WHITE-WHITEHEADLINE {
  color: #3790af;
  text-align: left;
  font-weight: 500;
}

.WHITE-Link {
  all: unset;
  color: #252525;
  text-decoration: none;
  font-weight: 300;
  transition: all 0.6s;
  cursor: pointer;
  padding-bottom: 8px;
}

.Blue-Link {
  color: #3790af;
}

.WHITE-Link:hover {
  padding-left: 5px;
}

@media screen and (max-width: 1160px) {
  .InnerFooter {
    padding: 0 20px 0 20px;
    grid-template-columns: 1fr;
  }
}

.Name-Headline {
  font-weight: 500;
}
