* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #113042;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

.BOOOODY {
  height: 3000px;
}

a {
  all: unset;
  cursor: pointer;
  border: none;
}

:hover {
  border: none;
}

h3 {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
  h3 {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
}
